################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SparkNetPOC/obj
/SparkNetPOC/.vs/SparkNetPOC/v16
